<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Total public expenses</th>
      <th>Amount of public expenses</th>
      <th>Amount of public expenses for the last 30 days</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.email, show_expenses_user_path(user) %></td>
        <td><%= user.expenses.public_expenses.count %></td>
        <td><%= number_to_currency(user.expenses.public_expenses.sum(:amount)) %></td>
        <td><%= number_to_currency(user.expenses.public_expenses.last_month_expenses.sum(:amount)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
